.page {
  &__about {
  }
}
.about {
  background: url(../img/about/background.png) center no-repeat, #ffecfb;
  background-size: cover;
  margin-top: -10px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/about/blur-3.svg) 650px 850px no-repeat,
      url(../img/about/blur-2.svg) 460px 1040px no-repeat,
      url(../img/about/blur-1.svg) 0 720px no-repeat;
  }
  &__container {
    display: flex;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 80px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../img/about/cross.svg) 2% 39% no-repeat,
        url(../img/about/square.svg) 35% 75% no-repeat,
        url(../img/about/square.svg) 100% 98% no-repeat,
        url(../img/about/circle.svg) 35% 15% no-repeat,
        url(../img/about/circle.svg) 100% 25% no-repeat,
        url(../img/about/rectangles.svg) 88% 69% no-repeat;
    }
  }

  &__image {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    position: relative;
    img {
      display: block;
      max-width: 100%;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
    }
    &::before {
      background: url(../img/about/dots.svg) no-repeat;
      top: 47%;
      left: -12%;
    }
    &::after {
      background: url(../img/about/avatar.svg) no-repeat;
      top: 19%;
      left: 8%;
    }
  }

  &__body {
    flex: 0 1 50%;
    padding-left: 15px;
    z-index: 5;
  }

  &__subheading {
  }

  &__heading {
    margin-bottom: 34px;
    span {
      white-space: nowrap;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 97%;
        width: 100%;
        height: 100%;
        background: url(../img/about/underline.svg) no-repeat;
      }
    }
  }

  &__text {
    max-width: 520px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__button {
  }

  @media (max-width: 991.98px) {
    &__container {
      padding-top: 38px;
      padding-bottom: 70px;
    }
    &__image {
      &::after {
        top: 19%;
        left: -3%;
      }
      &::before {
        background: none;
      }
    }
  }
  @media (max-width: 767.98px) {
    &__container {
      flex-direction: column-reverse;
      padding-top: 33px;
      padding-bottom: 55px;
    }
    &__body {
      padding-left: 0;
    }
    &__image {
      &::after {
        top: 15%;
        left: -5%;
      }
      &:not(:last-child) {
        margin-top: 25px;
      }
    }
    &__text {
      max-width: 650px;

      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }
  }
  @media (max-width: 479.98px) {
    &__container {
      padding-top: 33px;
      padding-bottom: 45px;
    }
    &__heading {
      margin-bottom: 24px;
    }
    &__text {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}
.container {
}
.body {
}
.subheading {
}
.heading {
}
.text {
}
.button {
}
